<div class="bjkf">
    <tipalert></tipalert>
    <h1 class="th1">
        <span class='thtext'>添加终端</span>
        <div class="thbtn">
            <button type="button" class="btn btn-default" ui-sref='home.flow.flowgl'>取消</button>
            <button type="button" class="btn btn-default" ng-click='upload()'>上传文件</button>
        </div>
    </h1>
    <div class='bjkf_main'>
        <form  class="form-horizontal" role="form" >
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >导入类型</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model = "myMsg.impType">
                        <option value="" ng-show="false" >--请选择--</option>
                        <option value="1" >国控</option>
                        <option value="2" >华润</option>
                        <option value="3" >九州通</option>
                        <option value="4" >二级</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label text_left" >导入年份</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model = "myMsg.impYear" ng-options = "x for x in yearsList" >
                        <option value="" ng-show="false" >--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >导入月份</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model = "myMsg.impMonth" ng-options = "x for x in monthList" >
                        <option value="" ng-show="false" >--请选择--</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label text_left" >导入文件列表</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model = "myMsg.pathList" ng-options = "x for x in pathList" >
                        <option value="" ng-show="false" >--请选择--</option>
                    </select>
                </div>
            </div>
            <!-- <div style="margin-bottom:20px;" ng-show="pathList.length>0" >导入文件列表：</div> -->
            <!-- <div class="form-group" ng-repeat = "x in myMsg.pathList track by $index" >
                <div class="col-sm-8">
                     <div class="form-control" ng-bind="x"></div>
                </div>
            </div> -->
            <div style="text-align:center;" ng-show="pathList.length>0">
                <button class="btn btn-success" ng-click="flow()" >导入</button>
            </div>
        </form>
    </div>
</div>
