<div class="bjkf">
    <tipalert></tipalert>
    <h1 class="th1">
        <span class='thtext'>编辑终端</span>
        <div class="thbtn">
            <button type="button" class="btn btn-default" ui-sref='home.flow.flowgl'>返回</button>
            <!-- <button type="button" class="btn btn-default" ng-click='saveMsg()'>保存</button> -->
        </div>
    </h1>
    <div class='bjkf_main'>
		<form  class="form-horizontal" role="form" >
			<div class="form-group" >
			    <label class="col-sm-2 control-label text_left" >发货单位</label>
			    <div class="col-sm-8">
			        <input type="text" class="form-control" ng-model='myMsg.outUnit' />
			    </div>
			</div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >收获单位</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.acceptUnit' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >客户名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.customerName' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >商品名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.productName' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >批号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.batchNo' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >数量</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.amount' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >销售单价</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.soldPrice' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >销售总价</label>
                <div class="col-sm-8">
                    <div class="form-control" ng-bind='(myMsg.soldPrice)*(myMsg.amount)' ></div>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >销售时间</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.soldDate' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >佣金</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.rebatePrice' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >应扣返利</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.secExpense' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >流向级别</label>
                <div class="col-sm-8">
                    <label>一级：
                        <input type="radio" class="form-control" name="flowFlag" value="01" ng-model='myMsg.flowFlag' />
                    </label>
                     <label>二级：
                        <input type="radio" class="form-control" name="flowFlag" value="02" ng-model='myMsg.flowFlag' />
                    </label>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >毛利</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model='myMsg.balance' />
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >备注</label>
                <div class="col-sm-8">
                    <textarea class="form-control" ng-model='myMsg.remark'></textarea>
                </div>
            </div>
		</form>
    </div>
</div>
