@import '../common/config';
.kf{
	height:100%;
	// .nav{
	// 	width:150px;
	// 	float:left;
	// }
	// .view{
	// 	width:850px;
	// 	float:left;
	// }
	.list_main{
		width:95%;
		margin:0 auto;
	}
	.search{
		padding:20px;
	}
}