<div class="home">
	<div class="home-nav clear-fix">
		<div class="logo-tit">
			承一<br/>医药
		</div>
		<ul>
			<li ui-sref='.kf.kfgl'><a href="javascript:;" ng-bind="menu.kf"></a></li>
			<li ui-sref='.company.companyManage'><a href="javascript:;" ng-bind="menu.company"></a></li>
			<li ui-sref='.agreement.businessAgreement'><a href="javascript:;" ng-bind="menu.agreement"></a></li>
			<li ui-sref='.product.productManage'><a href="javascript:;" ng-bind="menu.product"></a></li>
			<li ui-sref='.flow.flowgl'><a href="javascript:;" ng-bind="menu.flow"></a></li>
		</ul>
	</div>
	<div class="home-r">
		<div class="CorporateHeader">
			<div class="small fix">
				<div class="logo"></div>
				<div class="login-btn">
					<span>
						<img src="img/icon_user.png" alt=""> 
						当前用户：{{username}}
					</span>
					<span class='loginOut' ng-click="loginout()"}>
						<img src="img/logout.png" alt=""> 
						退出
					</span>
				</div>
			</div>
		</div>
		<div ui-view='' class="home-view"></div>
	</div>
</div>