<div class="home">
	<div class="home-nav clear-fix">
		<div class="logo">
			承一<br/>医药
		</div>
		<ul>
			<li ui-sref='.kf.kfgl'><a href="javascript:;" ng-bind="menu.kf"></a></li>
			<li ui-sref='.company.companyManage'><a href="javascript:;" ng-bind="menu.company"></a></li>
			<li ui-sref='.agreement.businessAgreement'><a href="javascript:;" ng-bind="menu.agreement"></a></li>
			<li ui-sref='.product.productManage'><a href="javascript:;" ng-bind="menu.product"></a></li>
			<li ui-sref='.flow.flowgl'><a href="javascript:;" ng-bind="menu.flow"></a></li>
		</ul>
	</div>
	<div class="home-r">
		<!-- <div class="home-head"></div> -->
		<div ui-view='' class="home-view"></div>
	</div>
</div>