<!-- 模态框模板 -->
<div class="modal fade" id="myDialog">
  <div class="modal-dialog" style="z-index:99999;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="dialogCloseT">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dialogTitle">Modal title</h4>
      </div>
      <div class="modal-body">
        <p id="dialogMsg">One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="dialogClose">取消</button>
        <button type="button" class="btn btn-primary" id="dialogChange">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->