body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
body{
    height:100%;
    font-family: "微软雅黑"!important;
    color:#333;
}
a{
    text-decoration:none;
    color:#337ab7;
}
ul,li{
    list-style:none;
}
.clearfix:after{
    content:"";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    display:block;
}
textarea{
    resize:none;
}
table td{
    white-space:nowrap;
}
