<tip-log></tip-log>
<tipalert></tipalert>
<div class="bjkf">
    <h1 class="th1">
        <span class='thtext'>新增公司</span>
        <div class="thbtn">
            <button type="button" class="btn btn-default" ui-sref='home.company.companyManage'>取消</button>
            <button type="button" class="btn btn-success" ng-click='save()'>保存</button>
        </div>
    </h1>
    <div class='bjkf_main'>
		<form  class="form-horizontal" role="form" >
			<div class="form-group" >
			    <label class="col-sm-2 control-label text_left" >*公司名称</label>
			    <div class="col-sm-10">
			        <input type="text" class="form-control" ng-model='company.name' required />
			    </div>
			</div>
            <div class="form-group">
                <label class="col-sm-2 control-label text_left" >*公司描述</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model='company.desc'>
                </div>
            </div>
            <!-- <citys my-area="company.area" my-city="company.city"></citys> -->
            <div class="form-group" >
                <label class="col-sm-2 control-label text_left" >*公司级别</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model='company.classType'>
                        <option value="" ng-show="false">请选择</option>
                        <option value="1">一级商业公司</option>
                        <option value="2">二级商业公司</option>
                        <option value="3">普通二级商业</option>
                    </select>
                </div>
            </div>   
		</form>
    </div>
</div>
