<div class="gdxq">
<tipalert></tipalert>
    <h1 class="th1">
        <span class='thtext'>工单详情</span>
        <div class="thbtn">
            <button type="button" class="btn btn-default" ui-sref='home.gd'>取消</button>
            <button class="btn btn-default" type="submit" ng-click='gdxqSave()'>保存</button>
        </div>
    </h1>
    <div class="nav col-sm-4">
        <form class="form-horizontal" role="form">
            <h2 class="navGdlist" ng-click='navtoggle()'>工单</h2>
            <div class="form-group">
                <label class="col-sm-4 control-label text_left">状态</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model='statusname'>
                        <option value="{{x}}" ng-repeat='x in statuslist' ng-bind='x'></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label text_left">优先级</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model='priorityname'>
                        <option value="{{x}}" ng-repeat='x in prioritylist' ng-bind='x'></option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-4 control-label text_left">受理客服组</label>
                <div class="col-sm-8">
                   <p>客服组1<button type="button" class="btn btn-default" id='zygd' ng-click='zygd()'>转移工单</button></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label text_left">受理客服</label>
                <div class="col-sm-8">
                   <p>客服1</p>
                </div>
            </div>
            <div class="form-group" ng-repeat='x in xqgdhidelist' ng-hide='xqgdhide'>
                <label class="col-sm-4 control-label text_left" ng-bind='x.names'></label>
                <div class="col-sm-8">
                   <p ng-bind='x.name'></p>
                </div>
            </div>
            
            <h2>客户信息</h2>
            <div class="form-group" ng-repeat='x in xqkhxx'>
                <label class="col-sm-4 control-label text_left" ng-bind='x.names'></label>
                <div class="col-sm-8">
                    <p ng-bind='x.name'></p>
                </div>
            </div>
            <h2>公司信息</h2>
            <div class="form-group" ng-repeat='x in xqgsxx'>
                <label class="col-sm-4 control-label text_left" ng-bind='x.names'></label>
                <div class="col-sm-8">
                    <p ng-bind='x.name'></p>
                </div>
            </div>
        </form>
    </div>
    <div class="view_gdxq col-sm-8">
        <form class="form-horizontal" role="form">
            <h1 class="th1 gdxq_th">
                <span class='thtext'>工单模板：</span>
                <select class="form-control input-sm" ng-model="gdmbValue" ng-change='gdmbChange()'>
                    <option value='{{x}}' ng-repeat='x in mb' ng-bind='x'></option>
                </select>
                <div class="thbtn">
                    <button type="button" class="btn btn-default" ng-click='gdDelete()'>删除工单</button>
                    <button type="button" class="btn btn-default">&lt;</button>
                    <button type="button" class="btn btn-default">&gt;</button>
                </div>
            </h1>
            <h1 class="th1">
                <input type="text" class="form-control" placeholder="{{titles}}" id='shwx_th'>
            </h1>
            <div class="shwx">
                <textarea class="form-control" placeholder="点击添加描述" id='add_ms'></textarea>
                <div class="addms" ng-show='gdmb_list'>
                    <h3>{{gdmbValue}}</h3>
                    <div class="row">
                        <div class="form-group col-sm-5" ng-repeat='x in mb_select'>
                            <label class="col-sm-4 control-label text_left" ng-bind='x.names'></label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option value="" ng-repeat='y in x.list' ng-bind='y'></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-5" ng-repeat='x in mb_input'>
                            <label class="col-sm-4 control-label text_left" ng-bind='x.names'></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shwx_text">
                    <span ng-class="{true:'shwx_btn',false:'shwx_btn active'}[active1]" ng-click='shwxHf()'>回复</span>
                    <span ng-class="{true:'shwx_btn',false:'shwx_btn active'}[active2]" ng-click='shwxBz()'>内部备注</span>
                    <div class="shwx_textd" ng-hide='shwxhf'>
                        <p ng-click='addHf()' ng-hide='addhf_btn'>点击添加回复</p>
                        <textarea name="shwxaddHf()" id="" cols="30" rows="10" ng-show='addhf'></textarea>
                        <div class="add_shwx clearfix" ng-show='addhf'>
                            <button type="button" class="btn btn-link" ng-show='addCs' ng-click='addCses()'>添加抄送</button>
                            <div class="plus-tag tagbtn clearfix" id="myTags" ng-show='addCs_list'>
                                <a href="javascript:void(0);" ng-click='mySelected()' ng-repeat='x in selected_kf track by $index'><span ng-bind='x.names'></span><em ng-click='mykfDelete($index)'></em></a>
                            </div>
                            <div class="default-tag tagbtn" id="mycard-plus" ng-show='addCs_list' >
                                <a href="javascript:void(0);" ng-repeat='x in selecte_kf track by $index' ng-click='mykfSelected($index)'><span ng-bind='x.names'></span></a>             
                            </div>
                            <button type="button" class="btn btn-link" ng-show='addCs_list' ng-click='qxCses()'>取消抄送</button>
                            <button type="button" class="btn btn-default">发送</button>
                        </div>
                    </div>
                    <div class="shwx_textd" ng-hide='shwxbz'>
                        <p ng-click='addBz()' ng-hide='addbz_btn'>点击添加内部备注</p>
                        <textarea name="" id="" cols="30" rows="10" ng-show='addbz'></textarea>
                        <div class="add_shwx clearfix" ng-show='addbz'>
                            <span ng-show='addCs' ng-click='addCses()'>添加抄送</span>
                            <div class="plus-tag tagbtn clearfix" id="myTags" ng-show='addCs_list'>
                                <a href="javascript:void(0);" ng-click='mySelected()' ng-repeat='x in selected_kf track by $index'><span ng-bind='x.names'></span><em ng-click='mykfDelete($index)'></em></a>
                            </div>
                            <div class="default-tag tagbtn" id="mycard-plus" ng-show='addCs_list' >
                                <a href="javascript:void(0);" ng-repeat='x in selecte_kf track by $index' ng-click='mykfSelected($index)'><span ng-bind='x.names'></span></a>             
                            </div>
                            <button type="button" class="btn btn-link" ng-show='addCs_list' ng-click='qxCses()'>取消抄送</button>
                            <button type="button" class="btn btn-default">发送</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row dtdh_th">
                <div class="col-sm-1">
                    <span>动态</span>
                </div>
                <div class="col-sm-11">
                    <input type="checkbox" id="inlineCheckbox1" value="option1">　只显示对话
                </div>
            </div>
            <div class="dtdh row" ng-repeat='x in dtdh_list'>
                <div class="col-sm-1">
                    <span class='dtdh_btn' ng-bind='x.btn'></span>
                </div>
                <div class="col-sm-11">
                    <p><span ng-bind='x.names'></span><span ng-bind='x.date'></span></p>
                    <p><span ng-bind='x.text'></span><span ng-bind='x.to'></span></p>
                </div>
            </div>

        </form>
    </div>
</div>