<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BusinessFlowMapper">
	<resultMap id="BaseResultMap" type="com.blueair.bean.BusinessFlow">
		<id column="flow_id" property="flowId" jdbcType="VARCHAR" />
		<result column="sold_unit_id" property="soldUnitId" jdbcType="VARCHAR" />
		<result column="accept_unit_id" property="acceptUnitId"
			jdbcType="VARCHAR" />
		<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
		<result column="product_id" property="productId" jdbcType="VARCHAR" />
		<result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
		<result column="sold_date" property="soldDate" jdbcType="VARCHAR" />
		<result column="sold_year" property="soldYear" jdbcType="VARCHAR" />
		<result column="sold_month" property="soldMonth" jdbcType="VARCHAR" />
		<result column="file_type" property="fileType" jdbcType="VARCHAR" />
		<result column="allocate_goods_num" property="allocateGoodsNum"
			jdbcType="INTEGER" />
		<result column="sold_goods_num" property="soldGoodsNum"
			jdbcType="INTEGER" />
		<result column="sold_price" property="soldPrice" jdbcType="DECIMAL" />
		<result column="allocate_price" property="allocatePrice"
			jdbcType="DECIMAL" />
		<result column="sold_money" property="soldMoney" jdbcType="DECIMAL" />
		<result column="flow_flag" property="flowFlag" jdbcType="CHAR" />
		<result column="is_terminal" property="isTerminal" jdbcType="CHAR" />
		<result column="department" property="department" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="QueryResultMap" type="com.blueair.bean.BusinessFlowQuery">
		<id column="flow_id" property="flowId" jdbcType="BIGINT" />
		<result column="out_unit" property="outUnit" jdbcType="VARCHAR" />
		<result column="accept_unit" property="acceptUnit"	jdbcType="VARCHAR" />
		<result column="customer_name" property="customerName" jdbcType="VARCHAR" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="product_norms" property="productNorms" jdbcType="VARCHAR" />
		<result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
		<result column="sold_date" property="soldDate" jdbcType="VARCHAR" />
		<result column="promotion_expense" property="rebatePrice" jdbcType="VARCHAR" />
		<result  column="sec_expense"  property="secExpense" jdbcType="DECIMAL"/>
		<result column="amount" property="amount"	jdbcType="INTEGER" />
		<result column="sold_price" property="soldPrice" jdbcType="DECIMAL" />
		<result column="sold_money" property="soldMoney" jdbcType="DECIMAL" />
		<result column="flow_flag" property="flowFlag" jdbcType="CHAR" />
		<result column="department" property="department" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="TINYINT" />
		<result column="is_terminal" property="isTerminal" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<association property="merProtocol"
			column="{productId=product_id,hospitalId=accept_unit_id,soldDate=sold_date,isTerminal=is_terminal}"
			select="MerchanProtocolMapper.getMerchanProtocolForBanlance" />
	</resultMap>
	
	<resultMap type="java.util.Map" id="CustomerIdMap">
		<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
		<result column="hospital_id" property="hospitalId" jdbcType="VARCHAR" />
		<result column="product_id" property="productId" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		flow_id, sold_unit_id, accept_unit_id, customer_id,
		product_id, batch_no,
		sold_date,sold_year,
		sold_month, file_type,allocate_goods_num,
		sold_goods_num, sold_price, allocate_price,
		sold_money,
		flow_flag,
		is_terminal, department, remark, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cy_business_flow_table
		where flow_id = #{flowId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		cy_business_flow_table
		where flow_id = #{flowId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteFlowData" parameterType="java.util.Map">
		delete from
		cy_business_flow_table
		where sold_year = #{soldYear,jdbcType=VARCHAR} 
		and sold_month = #{soldMonth,jdbcType=VARCHAR} 
		and file_type = #{fileType,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.blueair.bean.BusinessFlow">
		insert into
		cy_business_flow_table (flow_id, sold_unit_id,
		accept_unit_id,
		customer_id, product_id, batch_no,
		sold_date,sold_year, sold_month,
		file_type,allocate_goods_num,
		sold_goods_num, sold_price, allocate_price,
		sold_money, flow_flag, is_terminal,
		department, remark, create_time,
		update_time)
		values (#{flowId,jdbcType=VARCHAR},
		#{soldUnitId,jdbcType=VARCHAR},
		#{acceptUnitId,jdbcType=VARCHAR},
		#{customerId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR},
		#{batchNo,jdbcType=VARCHAR},
		#{soldDate,jdbcType=VARCHAR},
		#{soldYear,jdbcType=VARCHAR},
		#{soldMonth,jdbcType=VARCHAR},
		#{fileType,jdbcType=VARCHAR},
		#{allocateGoodsNum,jdbcType=INTEGER},
		#{soldGoodsNum,jdbcType=INTEGER}, #{soldPrice,jdbcType=DECIMAL},
		#{allocatePrice,jdbcType=DECIMAL},
		#{soldMoney,jdbcType=DECIMAL},
		#{flowFlag,jdbcType=CHAR}, #{isTerminal,jdbcType=CHAR},
		#{department,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into
		cy_business_flow_table (sold_unit_id,
		accept_unit_id,
		customer_id, product_id, batch_no,
		sold_date,sold_year, sold_month,
		file_type,allocate_goods_num,
		sold_goods_num, sold_price, allocate_price,
		sold_money, flow_flag, is_terminal,
		department, remark, create_time,
		update_time)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.soldUnitId,jdbcType=VARCHAR},
			#{item.acceptUnitId,jdbcType=VARCHAR},
			#{item.customerId,jdbcType=VARCHAR}, 
			#{item.productId,jdbcType=VARCHAR},
			#{item.batchNo,jdbcType=VARCHAR},
			#{item.soldDate,jdbcType=VARCHAR},
			#{item.soldYear,jdbcType=VARCHAR},
			#{item.soldMonth,jdbcType=VARCHAR},
			#{item.fileType,jdbcType=VARCHAR},
			#{item.allocateGoodsNum,jdbcType=INTEGER},
			#{item.soldGoodsNum,jdbcType=INTEGER}, 
			#{item.soldPrice,jdbcType=DECIMAL},
			#{item.allocatePrice,jdbcType=DECIMAL},
			#{item.soldMoney,jdbcType=DECIMAL},
			#{item.flowFlag,jdbcType=CHAR}, 
			#{item.isTerminal,jdbcType=CHAR},
			#{item.department,jdbcType=VARCHAR}, 
			#{item.remark,jdbcType=VARCHAR},
			CURRENT_TIMESTAMP(),
			CURRENT_TIMESTAMP())
		</foreach>

	</insert>

	<insert id="insertSelective" parameterType="com.blueair.bean.BusinessFlow">
		insert into cy_business_flow_table
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="flowId != null">
				flow_id,
			</if>
			<if test="soldUnitId != null">
				sold_unit_id,
			</if>
			<if test="acceptUnitId != null">
				accept_unit_id,
			</if>
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="batchNo != null">
				batch_no,
			</if>
			<if test="soldDate != null">
				sold_date,
			</if>
			<if test="soldYear != null">
				sold_year,
			</if>
			<if test="soldMonth != null">
				sold_month,
			</if>
			<if test="fileType != null">
				file_type,
			</if>
			<if test="allocateGoodsNum != null">
				allocate_goods_num,
			</if>
			<if test="soldGoodsNum != null">
				sold_goods_num,
			</if>
			<if test="soldPrice != null">
				sold_price,
			</if>
			<if test="allocatePrice != null">
				allocate_price,
			</if>
			<if test="soldMoney != null">
				sold_money,
			</if>
			<if test="flowFlag != null">
				flow_flag,
			</if>
			<if test="isTerminal != null">
				is_terminal,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="flowId != null">
				#{flowId,jdbcType=VARCHAR},
			</if>
			<if test="soldUnitId != null">
				#{soldUnitId,jdbcType=VARCHAR},
			</if>
			<if test="acceptUnitId != null">
				#{acceptUnitId,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=VARCHAR},
			</if>
			<if test="batchNo != null">
				#{batchNo,jdbcType=VARCHAR},
			</if>
			<if test="soldDate != null">
				#{soldDate,jdbcType=VARCHAR},
			</if>
			<if test="soldYear != null">
				#{soldYear,jdbcType=VARCHAR},
			</if>
			<if test="soldMonth != null">
				#{soldMonth,jdbcType=VARCHAR},
			</if>
			<if test="fileType != null">
				#{fileType,jdbcType=VARCHAR},
			</if>
			<if test="allocateGoodsNum != null">
				#{allocateGoodsNum,jdbcType=INTEGER},
			</if>
			<if test="soldGoodsNum != null">
				#{soldGoodsNum,jdbcType=INTEGER},
			</if>
			<if test="soldPrice != null">
				#{soldPrice,jdbcType=DECIMAL},
			</if>
			<if test="allocatePrice != null">
				#{allocatePrice,jdbcType=DECIMAL},
			</if>
			<if test="soldMoney != null">
				#{soldMoney,jdbcType=DECIMAL},
			</if>
			<if test="flowFlag != null">
				#{flowFlag,jdbcType=CHAR},
			</if>
			<if test="isTerminal != null">
				#{isTerminal,jdbcType=CHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.blueair.bean.BusinessFlow">
		update cy_business_flow_table
		<set>
			<if test="soldUnitId != null">
				sold_unit_id = #{soldUnitId,jdbcType=VARCHAR},
			</if>
			<if test="acceptUnitId != null">
				accept_unit_id = #{acceptUnitId,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				customer_id = #{customerId,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="batchNo != null">
				batch_no = #{batchNo,jdbcType=VARCHAR},
			</if>
			<if test="soldDate != null">
				sold_date = #{soldDate,jdbcType=VARCHAR},
			</if>
			<if test="soldYear != null">
				sold_year = #{soldYear,jdbcType=VARCHAR},
			</if>
			<if test="soldMonth != null">
				sold_month = #{soldMonth,jdbcType=VARCHAR},
			</if>
			<if test="fileType != null">
				file_type = #{fileType,jdbcType=VARCHAR},
			</if>
			<if test="allocateGoodsNum != null">
				allocate_goods_num =
				#{allocateGoodsNum,jdbcType=INTEGER},
			</if>
			<if test="soldGoodsNum != null">
				sold_goods_num = #{soldGoodsNum,jdbcType=INTEGER},
			</if>
			<if test="soldPrice != null">
				sold_price = #{soldPrice,jdbcType=DECIMAL},
			</if>
			<if test="allocatePrice != null">
				allocate_price = #{allocatePrice,jdbcType=DECIMAL},
			</if>
			<if test="soldMoney != null">
				sold_money = #{soldMoney,jdbcType=DECIMAL},
			</if>
			<if test="flowFlag != null">
				flow_flag = #{flowFlag,jdbcType=CHAR},
			</if>
			<if test="isTerminal != null">
				is_terminal = #{isTerminal,jdbcType=CHAR},
			</if>
			<if test="department != null">
				department = #{department,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
		</set>
		where flow_id = #{flowId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.blueair.bean.BusinessFlow">
		update
		cy_business_flow_table
		set sold_unit_id =
		#{soldUnitId,jdbcType=VARCHAR},
		accept_unit_id =
		#{acceptUnitId,jdbcType=VARCHAR},
		customer_id =
		#{customerId,jdbcType=VARCHAR},
		product_id =
		#{productId,jdbcType=VARCHAR},
		batch_no = #{batchNo,jdbcType=VARCHAR},
		sold_date = #{soldDate,jdbcType=VARCHAR},
		sold_year =
		#{soldYear,jdbcType=VARCHAR},
		sold_month =
		#{soldMonth,jdbcType=VARCHAR},
		file_type =
		#{fileType,jdbcType=VARCHAR},
		allocate_goods_num =
		#{allocateGoodsNum,jdbcType=INTEGER},
		sold_goods_num =
		#{soldGoodsNum,jdbcType=INTEGER},
		sold_price =
		#{soldPrice,jdbcType=DECIMAL},
		allocate_price =
		#{allocatePrice,jdbcType=DECIMAL},
		sold_money =
		#{soldMoney,jdbcType=DECIMAL},
		flow_flag = #{flowFlag,jdbcType=CHAR},
		is_terminal = #{isTerminal,jdbcType=CHAR},
		department =
		#{department,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=VARCHAR},
		update_time =
		#{updateTime,jdbcType=VARCHAR}
		where flow_id =
		#{flowId,jdbcType=VARCHAR}
	</update>
	<update id="setFlowType">
		update cy_business_flow_table SET type=1,update_time=#{sysTime} WHERE
		flow_id in
		<foreach collection="processes" item="item" open="(" close=")" separator=",">
		#{item.flowId}
		</foreach>
	</update>
	<select id="queryForFlow" resultMap="QueryResultMap">
		SELECT flow_id,f.accept_unit_id,f.product_id,is_terminal,(SELECT `name` FROM cy_merchandiser_table WHERE merch_id=f.sold_unit_id) as out_unit,(CASE 
		WHEN is_terminal=1 THEN (SELECT hospital_name FROM cy_hospital_table WHERE hospital_id=f.accept_unit_id)
		ELSE	(SELECT `name` FROM cy_merchandiser_table WHERE merch_id=f.accept_unit_id)
		END) as accept_unit,(SELECT customer_name FROM cy_customer_table WHERE customer_id=f.customer_id) as customer_name,
		(CASE f.is_terminal WHEN 1 THEN
		(select rebate FROM cy_customer_protocol_table WHERE customer_id=f.customer_id AND hospital_id=f.accept_unit_id
		AND product_id=f.product_id) ELSE 0	END) as sec_expense	,sold_date,
		product_name,product_norms,product_price,(CASE WHEN is_terminal=1 THEN sold_goods_num	ELSE	allocate_goods_num END) as amount,(CASE WHEN is_terminal=1 THEN (SELECT promotion_expense FROM cy_customer_protocol_table cp WHERE cp.customer_id=f.customer_id AND cp.hospital_id=f.accept_unit_id AND cp.product_id=f.product_id) ELSE NULL END) as promotion_expense,
		(CASE WHEN is_terminal=1 THEN sold_price ELSE allocate_price END) as sold_price,sold_money,flow_flag,department,remark,create_time
 		FROM cy_business_flow_table f LEFT JOIN cy_product_table p ON f.product_id=p.product_id 
 		where 1>0
 		<if test="isTerminal!=null">
 		and is_terminal=#{isTerminal}
 		</if>
 		<if test="flowFlag!=null">
 		and flow_flag=#{flowFlag}
 		</if>
 		<if test="acceptUnit!=null">
 		and (CASE is_terminal	WHEN 1 THEN	(SELECT hospital_name FROM cy_hospital_table WHERE hospital_id=f.accept_unit_id) 
		ELSE	(SELECT `name` FROM cy_merchandiser_table WHERE merch_id=f.accept_unit_id)	END)	
		LIKE CONCAT('%',#{acceptUnit,jdbcType=VARCHAR},'%')
 		</if>
 		<if test="batchNo!=null">
 		and batch_no like CONCAT('%',#{batchNo,jdbcType=VARCHAR},'%')
 		</if>
 		<if test="startDate!=null">
 		and sold_date>#{startDate}
 		</if>
 		<if test="endDate!=null">
 		and sold_date&lt;#{endDate}
 		</if>
 		order by sold_date asc,flow_id asc limit #{firstItem},#{pageSize}
	</select>
	<select id="queryForFlowCount" resultType="Long">
		SELECT count(0)	FROM cy_business_flow_table f LEFT JOIN cy_product_table p ON f.product_id=p.product_id 
		where 1>0
 		<if test="isTerminal!=null">
 		and is_terminal=#{isTerminal}
 		</if>
 		<if test="flowFlag!=null">
 		and flow_flag=#{flowFlag}
 		</if>
 		<if test="acceptUnit!=null">
 		and (CASE is_terminal	WHEN 1 THEN	(SELECT hospital_name FROM cy_hospital_table WHERE hospital_id=f.accept_unit_id) 
		ELSE	(SELECT `name` FROM cy_merchandiser_table WHERE merch_id=f.accept_unit_id)	END)	
		LIKE CONCAT('%',#{acceptUnit,jdbcType=VARCHAR},'%')
 		</if>
 		<if test="batchNo!=null">
 		and batch_no like CONCAT('%',#{batchNo,jdbcType=VARCHAR},'%')
 		</if>
 		<if test="startDate!=null">
 		and sold_date>#{startDate}
 		</if>
 		<if test="endDate!=null">
 		and sold_date&lt;#{endDate}
 		</if>
	</select>
</mapper>