<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.blueair.bean.Customer" >
    <id column="customer_id" property="customerId" jdbcType="INTEGER" />
    <id column="serial_code" property="serialCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_code" property="accountCode" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="is_corp" property="isCorp" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="com.blueair.bean.CustomerKey" id="KeyResultMap">
  	<id column="customer_id" property="customerId" jdbcType="INTEGER" />
    <id column="serial_code" property="serialCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_code" property="accountCode" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="queryCustomerByName" resultType="Integer">
  		select count(0) from cy_customer_table where customer_name=#{customerName}
  		<if test="customerId!=null">
  		and customer_id!=#{customerId}
  		</if>
  </select>
  
  <insert id="insertCustomer">
  		insert into cy_customer_table
  		<set>
  			serial_code=#{serialCode},
  			customer_name=#{customerName},
  			phone=#{phone},
  			deposit_bank=#{depositBank},
  			account_name=#{accountName},
  			account_code=#{accountCode},
  			<if test="desc!=null">
  			`desc`=#{desc},
  			</if>
  			is_corp=#{isCorp},
  			create_by=#{operator},
  			create_time=#{createTime}
  		</set>
  </insert>
  
  <update id="updateCustomer">
  		update cy_customer_table
  		<set>
  			serial_code=#{serialCode},
  			customer_name=#{customerName},
  			phone=#{phone},
  			deposit_bank=#{depositBank},
  			account_name=#{accountName},
  			account_code=#{accountCode},
  			<if test="desc!=null">
  			`desc`=#{desc},
  			</if>
  			update_by=#{operator},
  			update_time=#{updateTime}
  		</set>
  		where customer_id=#{customerId}
  </update>
  
  <select id="queryCustomerById" resultMap="BaseResultMap">
  		select * from cy_customer_table where customer_id=#{id}
  </select>
  
  <select id="selectCustomers" resultMap="BaseResultMap">
  		select * from cy_customer_table
  </select>
  
  <select id="queryCustomersBlur"  resultMap="BaseResultMap">
  		select customer_id,serial_code,customer_name,phone,`desc`,is_corp from cy_customer_table 
  		where 	customer_name like CONCAT('%',#{customerName,jdbcType=VARCHAR},'%')
  		and phone like CONCAT('%',#{phone,jdbcType=VARCHAR},'%')
  		<if test="flag==1">
  		limit #{firstItem},#{pageSize}
  		</if>
  </select>
  
  <select id="queryCustomersCount"  resultType="Integer">
  		select count(0) from cy_customer_table 
  		where 	customer_name like CONCAT('%',#{customerName,jdbcType=VARCHAR},'%')
  		and phone like CONCAT('%',#{phone,jdbcType=VARCHAR},'%')
  </select>
  
  <select id="queryCustomerKeyInfo" resultMap="KeyResultMap">
  		select customer_id,serial_code,customer_name,phone,deposit_bank,account_name,account_code
  		from cy_customer_table where customer_id=#{customerId}
  </select>
</mapper>