<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="HospitalMapper" >
  <resultMap id="KeyResultMap" type="com.blueair.bean.HospitalKey" >
    <id column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="com.blueair.bean.ClinicKey" id="ClinicResultMap">
		<id column="hospital_id" property="hospitalId" jdbcType="INTEGER"/>
		<id column="clinic_id" property="clinicId" jdbcType="INTEGER"/>
	</resultMap>
  
  <resultMap type="com.blueair.bean.Hospital" id="BaseResultMap" extends="KeyResultMap">
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="area_id" property="zoneId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap type="com.blueair.bean.HospitalDetail" id="DetailResultMap" extends="BaseResultMap">
    <association property="zone" column="area_id" select="ZoneMapper.queryAreaById" />
    <association property="city" column="city_id" select="ZoneMapper.queryCityById" />
  </resultMap>
  
  <resultMap id="HospitalMap" type="java.util.Map" >
    <id column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="queryHospitalBasic" resultMap="KeyResultMap">
  		select hospital_id,hospital_name from cy_hospital_table where hospital_id=#{hospitalId}
  </select>
  <select id="queryDuplicatedHospCount" resultType="Integer">
  		SELECT COUNT(0) from cy_hospital_table WHERE hospital_name=#{hospitalName}
  		<if test="hospitalId!=null">
  		and hospital_id!=#{hospitalId}
  		</if>
  </select>
  <select id="queryHospital" resultMap="DetailResultMap">
  		select hospital_id,hospital_name,type,area_id,city_id from cy_hospital_table
  		where hospital_id=#{hospitalId}
  </select>
  
  <select id="queryClinics" resultMap="ClinicResultMap">
  		SELECT clinic_id,hospital_id FROM cy_clinic_table
  		where clinic_name like concat("%",#{clinicName},"%")
  		or #{clinicName} like concat("%",clinic_name,"%")
  </select>
  
  <select id="queryClinicsById" resultType="String">
  		SELECT clinic_id FROM cy_clinic_table
  		where hospital_id=#{hospitalId}
  </select>
  
  <select id="queryHospitalMap" resultMap="HospitalMap">
  		select hospital_id,hospital_name from cy_hospital_table
  </select>
  
  <insert id="insertHospital">
  		insert into cy_hospital_table
  		<set>
  			hospital_name=#{hospitalName},
  			type=#{type},
  			area_id=#{zoneId},
  			city_id=#{cityId},
  			create_by=#{createBy},
  			create_time=#{createTime}
  		</set>
  </insert>
  
  <update id="updateHospital">
  		update cy_hospital_table
  		<set>
  			hospital_name=#{hospitalName},
  			type=#{type},
  			area_id=#{zoneId},
  			city_id=#{cityId},
  			update_by=#{createBy},
  			update_time=#{createTime}
  		</set>
  		where hospital_id=#{hospitalId}
  </update>
  
  <select id="queryHospitals" resultMap="BaseResultMap">
		select hospital_id,hospital_name from cy_hospital_table 
		where hospital_name like CONCAT('%',#{hospitalName,jdbcType=VARCHAR},'%') 
		<if test="flag==1">
		limit #{firstItem},#{pageSize}
		</if>
  </select>
  
  <select id="queryHospitalsCount" resultType="Long">
  		select count(0) from cy_hospital_table 
		where hospital_name like CONCAT('%',#{hospitalName,jdbcType=VARCHAR},'%') 
  </select>
</mapper>