<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MerchanMapper" >
  <resultMap id="BaseResultMap" type="com.blueair.bean.Merchandiser" >
    <id column="merch_id" property="merchId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="class_type" property="classType" jdbcType="INTEGER" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="KeyResultMap" type="com.blueair.bean.MerchandiserKey" >
    <id column="merch_id" property="merchId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultInfoMap" type="java.util.Map" >
    <id column="merch_id" property="merchId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="BASIC_Column_List" >
  		merch_id,name,class_type,`desc`
  </sql>
  <sql id="KEY_Column_List" >
  		merch_id,name
  </sql>
  
  <select id="queryDuplicateMerchan" resultType="Integer">
  		select count(0) from cy_merchandiser_table
  		where name=#{name}
  </select>
  
  <insert id="insertMerchan" parameterType="java.util.Map">
  		insert into cy_merchandiser_table
  		<set>
  			name=#{name},
  			class_type=#{classType},
  			<if test="desc!=null">
  			`desc`=#{desc},
  			</if>
  			create_by=#{operator},
  			create_time=#{createTime}
  		</set>
  </insert>
  
  <update id="updateMerchan" parameterType="com.blueair.bean.Merchandiser">
  		update cy_merchandiser_table
  		<set>
  			name=#{name},
  			class_type=#{classType},
  			<if test="desc!=null">
  			`desc`=#{desc},
  			</if>
  		</set>
  		where merch_id=#{merchId}
  </update>
  
  <delete id="deleteMerchan" parameterType="Integer">
  		delete from cy_merchandiser_table where merch_id=#{id}
  </delete>
  
  <select id="queryMerchandisers" resultMap="BaseResultMap">
  		select 
  		<include refid="BASIC_Column_List"/>
		from   cy_merchandiser_table
		where name like CONCAT('%',#{name,jdbcType=VARCHAR},'%') 
		and `desc` like CONCAT('%',#{desc,jdbcType=VARCHAR},'%')
		<if test="flag==1">
		limit #{firstItem},#{pageSize}
		</if>
  </select>
  <select id="queryMerchandisersCount" resultType="Integer">
  		select count(0)
		from   cy_merchandiser_table
		where name like CONCAT('%',#{name,jdbcType=VARCHAR},'%') 
		and `desc` like CONCAT('%',#{desc,jdbcType=VARCHAR},'%')
  </select>
  <select id="queryMerchandiser" parameterType="Integer" resultMap="BaseResultMap">
  		select 
  		<include refid="BASIC_Column_List"/>
		from   cy_merchandiser_table
		where merch_id=#{id}
  </select>
  
  <select id="queryMerchandiserCas"  resultMap="KeyResultMap">
  		select 
  		<include refid="KEY_Column_List"/>
		from   cy_merchandiser_table
		<if test="merchanId!=null">
		where merch_id=#{merchanId}
		</if>
  </select>
  
  <select id="queryMerchanKey" resultMap="KeyResultMap">
  		select 
  		<include refid="KEY_Column_List"/>
  		from cy_merchandiser_table
  		where merch_id=#{parentId}
  </select>
  
  <select id="queryForMerchanMap" resultMap="BaseResultInfoMap">
		select   
		<include refid="KEY_Column_List"/>
		from cy_merchandiser_table
  </select>
  
  <select id="queryUpperMerchandisers" resultMap="KeyResultMap">
  		select 
  		<include refid="KEY_Column_List"/>
  		from cy_merchandiser_table
  </select>
  
  <!-- <select id="queryLowerMerchandisers" resultMap="KeyResultMap">
  		select 
  		<include refid="KEY_Column_List"/>
  		from cy_merchandiser_table where parent_id=#{id}
  </select> -->
</mapper>