<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProtocolMapper" >
  <resultMap id="BaseResultMap" type="com.blueair.bean.ProtocolBase" >
    <id column="protocol_id" property="protocolId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="area_id" property="zoneId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="upper_merchan" property="upperMerchan" jdbcType="INTEGER" />
    <result column="lower_merchan" property="lowerMerchan" jdbcType="INTEGER" />
    <result column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="promotion_expense" property="promotionExpense" jdbcType="DOUBLE" />
    <result column="bail" property="bail" jdbcType="DOUBLE" />
    <result column="bail_desc" property="bailDesc" jdbcType="VARCHAR" />
    <result column="switch_expense" property="switchExpense" jdbcType="DOUBLE" />
    <result column="switch_standard" property="switchStandard" jdbcType="TINYINT" />
    <result column="switch_amount" property="switchAmount" jdbcType="BIGINT" />
    <result column="rebate_period" property="rebatePeriod" jdbcType="INTEGER" />
    <result column="rebate_payer" property="rebatePayer" jdbcType="TINYINT" />
    <result column="rebate" property="rebate" jdbcType="DOUBLE" />
    <result column="is_honour" property="isHonour" jdbcType="TINYINT" />
    <result column="protocol_start" property="startTime" jdbcType="VARCHAR" />
    <result column="protocol_end" property="endTime" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="DetailResultMap" type="com.blueair.bean.Protocol" extends="BaseResultMap">
  	<association property="customer" column="customer_id" select="CustomerMapper.queryCustomerKeyInfo"/>
  	<association property="hospital" column="hospital_id" select="HospitalMapper.queryHospitalBasic"/>
    <association property="zone" column="area_id" select="ZoneMapper.queryAreaById"/>
    <association property="city" column="city_id" select="ZoneMapper.queryCityById"/>
    <association property="upperMerchanInfo" column="{merchanId=upper_merchan}" select="MerchanMapper.queryMerchandiserCas"/>
    <association property="lowerMerchanInfo" column="{merchanId=lower_merchan}" select="MerchanMapper.queryMerchandiserCas"/>
    <association property="product" column="product_id" select="ProductMapper.queryProductById2"/>
    <association property="rebatePeriodMap" column="rebate_period" select="ProtocolMapper.queryRebatePeriod"/>
  </resultMap>
  
  <resultMap id="KeyResultMap" type="com.blueair.bean.ProtocolKey" >
    <id column="protocol_id" property="protocolId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="promotion_expense" property="promotionExpense" jdbcType="DOUBLE" />
    <result column="bail" property="bail" jdbcType="DOUBLE" />
    <result column="switch_expense" property="switchExpense" jdbcType="DOUBLE" />
    <result column="switch_amount" property="switchAmount" jdbcType="BIGINT" />
    <result column="rebate_period" property="rebatePeriod" jdbcType="INTEGER" />
    <result column="rebate_payer" property="rebatePayer" jdbcType="TINYINT" />
    <result column="rebate" property="rebate" jdbcType="DOUBLE" />
    <result column="protocol_start" property="startTime" jdbcType="VARCHAR" />
    <result column="protocol_end" property="endTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="RelateResultMap" type="com.blueair.bean.rebate.ProtocolForRebate" >
    <id column="protocol_id" property="protocolId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="promotion_expense" property="promotionExpense" jdbcType="DOUBLE" />
    <result column="switch_standard" property="switchStandard" jdbcType="TINYINT" />
    <result column="switch_expense" property="switchExpense" jdbcType="DOUBLE" />
    <result column="switch_amount" property="switchAmount" jdbcType="BIGINT" />
    <result column="rebate_period" property="rebatePeriod" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap type="com.blueair.bean.ProtocolQueryKey" id="KeyQueryMap">
  	<result column="customer_id" property="customerId" jdbcType="INTEGER"/>
    <result column="hospital_id" property="hospitalId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap type="com.blueair.bean.alertbean.promotereb.PromoteRebateInfo" id="PromoteRebateInfoResult">
  	<id column="product_id" property="productId" jdbcType="INTEGER"/>
  	<id column="hospital_id" property="hospitalId" jdbcType="INTEGER"/>
  	<result column="lo_back" property="rebate" jdbcType="DOUBLE"/>
  	<result column="promote" property="promote" jdbcType="DOUBLE"/>
  	<result column="product_name" property="productName" jdbcType="VARCHAR"/>
  	<result column="hospital_name" property="hospitalName" jdbcType="VARCHAR"/>
  	<result column="total_promote" property="totalPromote" jdbcType="DECIMAL"/>
  </resultMap>
  
  <resultMap type="com.blueair.bean.alertbean.promotereb.PromoteRebateInfo" id="PromotionExpResult">
  	<id column="product_id" property="productId" jdbcType="INTEGER"/>
  	<id column="hospital_id" property="hospitalId" jdbcType="INTEGER"/>
  	<result column="product_name" property="productName" jdbcType="VARCHAR"/>
  	<result column="hospital_name" property="hospitalName" jdbcType="VARCHAR"/>
  	<result column="substract" property="substract" jdbcType="DECIMAL"/>
  </resultMap>
  
  
  <select id="queryProtocolByCondition" parameterType="com.blueair.bean.ProtocolBase" resultType="Integer">
  		select count(0) from cy_customer_protocol_table
  		where hospital_id=#{hospitalId}
  		and product_id=#{productId} and is_valid=1
  		<if test="protocolId!=null">
  		and protocol_id!=#{protocolId}
  		</if>
  </select>
  
  <insert id="insertProtocol" parameterType="com.blueair.bean.ProtocolBase">
  		insert into cy_customer_protocol_table
  		<set>
  			<if test="protocolCode!=null">
  			protocol_code=#{protocolCode},
  			</if>
  			customer_id=#{customerId},
  			area_id=#{zoneId},
  			city_id=#{cityId},
  			upper_merchan=#{upperMerchan},
  			lower_merchan=#{lowerMerchan},
  			hospital_id=#{hospitalId},
  			product_id=#{productId},
  			promotion_expense=#{promotionExpense},
  			<if test="bail!=null">
  			bail=#{bail},
  			</if>
  			<if test="bailDesc!=null">
  			`desc`=#{bailDesc},
  			</if>
  			<if test="switchExpense!=null and switchAmount!=null">
  			switch_expense=#{switchExpense},
  			switch_standard=#{switchStandard},
  			switch_amount=#{switchAmount},
  			</if>
  			rebate_period=#{rebatePeriod},
  			rebate_payer=#{rebatePayer},
  			<if test="rebate">
  			rebate=#{rebate},
  			</if>
  			is_honour=#{isHonour},
  			protocol_start=#{startTime},
  			protocol_end=#{endTime},
  			type=#{type},
  			is_valid=#{isValid},
  			create_by=#{createBy},
  			create_time=#{createTime}
  		</set>
  </insert>
  
  <update id="updateProtocol" parameterType="com.blueair.bean.ProtocolBase">
  		update cy_customer_protocol_table
  		<set>
  			customer_id=#{customerId},
  			area_id=#{zoneId},
  			city_id=#{cityId},
  			upper_merchan=#{upperMerchan},
  			lower_merchan=#{lowerMerchan},
  			hospital_id=#{hospitalId},
  			product_id=#{productId},
  			promotion_expense=#{promotionExpense},
  			<if test="bail!=null">
  			bail=#{bail},
  			</if>
  			<if test="bailDesc!=null">
  			`desc`=#{bailDesc},
  			</if>
  			<if test="switchExpense!=null and switchAmount!=null">
  			switch_expense=#{switchExpense},
  			switch_standard=#{switchStandard},
  			switch_amount=#{switchAmount},
  			</if>
  			rebate_period=#{rebatePeriod},
  			rebate_payer=#{rebatePayer},
  			<if test="rebate">
  			rebate=#{rebate},
  			</if>
  			is_honour=#{isHonour},
  			protocol_start=#{startTime},
  			protocol_end=#{endTime},
  			type=#{type},
  			is_valid=#{isValid},
  			update_by=#{updateBy},
  			update_time=#{updateTime}
  		</set>
  		where protocol_id=#{protocolId}
  </update>
  
  <select id="queryProtocolById" resultMap="DetailResultMap">
  		select * from cy_customer_protocol_table where protocol_id=#{protocolId}
  </select>
  
  <select id="queryProtocolsByCustomerAndHospitalName" resultMap="KeyResultMap">
		select protocol_id,customer_name,cp.hospital_id,(select hospital_name from cy_hospital_table where hospital_id=cp.hospital_id) as hospital_name,
		product_name,promotion_expense,bail,switch_expense,switch_amount,rebate_period,rebate_payer,rebate,protocol_start,protocol_end
		from cy_customer_protocol_table cp LEFT JOIN cy_customer_table c ON 	cp.customer_id=c.customer_id 
		LEFT JOIN cy_product_table p ON cp.product_id=p.product_id LEFT JOIN cy_hospital_table h ON
		cp.hospital_id=h.hospital_id
		WHERE customer_name LIKE CONCAT('%',#{customerName,jdbcType=VARCHAR},'%')
		AND h.hospital_name  LIKE CONCAT('%',#{hospital,jdbcType=VARCHAR},'%') AND
		product_name LIKE	CONCAT('%',#{productName,jdbcType=VARCHAR},'%') AND cp.is_valid=1  
		ORDER BY cp.create_time DESC limit #{firstItem},#{pageSize}
  </select>
  
  <select id="queryProtocolCountByCustomerAndHospitalName" resultType="Integer">
  		select COUNT(0)
		from cy_customer_protocol_table cp LEFT JOIN cy_customer_table c ON 	cp.customer_id=c.customer_id 
		LEFT JOIN cy_product_table p ON cp.product_id=p.product_id LEFT JOIN cy_hospital_table h ON
		cp.hospital_id=h.hospital_id
		WHERE customer_name LIKE CONCAT('%',#{customerName,jdbcType=VARCHAR},'%')
		AND h.hospital_name LIKE CONCAT('%',#{hospital,jdbcType=VARCHAR},'%') AND
		product_name LIKE	CONCAT('%',#{productName,jdbcType=VARCHAR},'%') AND cp.is_valid=1
  </select>
  
  <select id="queryProtocolKeyInfo" resultMap="KeyQueryMap">
  		select customer_id,product_id,hospital_id from cy_customer_protocol_table
		WHERE protocol_id=#{id}
  </select>
  
  <select id="queryRelatedInvalidProtocols" resultMap="KeyResultMap">
		select protocol_id,customer_name,hospital_id,product_name,promotion_expense,bail,switch_expense,
		switch_amount,rebate_period,rebate_payer,rebate,protocol_start,protocol_end
		from cy_customer_protocol_table cp LEFT JOIN cy_customer_table c ON 	cp.customer_id=c.customer_id 
		LEFT JOIN cy_product_table p ON cp.product_id=p.product_id
		WHERE cp.customer_id=#{customerId} AND cp.product_id=#{productId} AND hospital_id=#{hospitalId} AND cp.is_valid=0
		ORDER BY cp.create_time DESC
  </select>
  
  <select id="queryRelatedInvalidProtocolCount" resultType="Integer">
  		select count(0)
		from cy_customer_protocol_table cp LEFT JOIN cy_customer_table c ON 	cp.customer_id=c.customer_id 
		LEFT JOIN cy_product_table p ON cp.product_id=p.product_id
		WHERE cp.customer_id=#{customerId} AND cp.product_id=#{productId} AND hospital_id=#{hospitalId} AND cp.is_valid=0
  </select>
  <select id="queryRebatePeriod" resultType="java.util.Map">
  		select rebate_period_id as periodId,rebate_period_name as periodName from cy_rebate_period_table 
  		where rebate_period_id=#{rebatePeriod}
  </select>
  
  <select id="findRelaProtocol" resultMap="RelateResultMap">
  		select protocol_id,customer_id,hospital_id,promotion_expense,switch_standard,product_id,
  		switch_expense,switch_amount,rebate_period,type
  		from cy_customer_protocol_table WHERE customer_id=#{customerId} AND product_id=#{productId} 
  		AND hospital_id=#{acceptUnitId} AND #{soldDate} BETWEEN protocol_start AND protocol_end ORDER BY protocol_end desc limit 1
  </select>
  <select id="findRelaProtocolAgain" resultMap="RelateResultMap">
  		select protocol_id,customer_id,hospital_id,promotion_expense,switch_standard,product_id,
  		switch_expense,switch_amount,rebate_period,type
  		from cy_customer_protocol_table WHERE customer_id=#{customerId} AND product_id=#{productId} 
  		AND hospital_id=#{acceptUnitId} AND #{soldDate}> protocol_end ORDER BY protocol_end desc LIMIT 1
  </select>
  <select id="queryForPromoteAndRebateMer"  resultMap="PromoteRebateInfoResult">
  		SELECT cmp.product_id,cmp.hospital_id,cmp.lo_back,(CASE WHEN ccp.promotion_expense > ccp.switch_expense
           THEN ccp.promotion_expense 
           ELSE ccp.switch_expense
           END) as promote,
		(SELECT product_name FROM cy_product_table WHERE product_id=cmp.product_id) as product_name,
		(SELECT hospital_name FROM cy_hospital_table WHERE hospital_id=cmp.hospital_id) as hospital_name,
		(SELECT promote_fee FROM cy_product_table WHERE product_id=cmp.product_id) as total_promote
		 FROM cy_merchandiser_protocol_table cmp LEFT JOIN cy_customer_protocol_table ccp
		on cmp.product_id=ccp.product_id AND cmp.hospital_id=ccp.hospital_id WHERE cmp.product_id=#{productId} AND cmp.hospital_id=#{hospitalId}
  </select>
  <select id="queryExpProRebateCount" resultType="Integer">
  		select count(0) from cy_rebate_notice_table WHERE product_id=#{productId} and hospital_id=#{hospitalId}	
  </select>
  <insert id="insertExpProRebateInfo">
  		INSERT INTO cy_rebate_notice_table(product_id,hospital_id,substract,is_exp)
  		VALUES(#{productId},#{hospitalId},#{substract},1)		
  </insert>
  <update id="updateExpProRebateSubInfo">
  		UPDATE cy_rebate_notice_table SET is_exp=1,substract=#{substract},is_notice=0 
  		WHERE product_id=#{productId} and hospital_id=#{hospitalId}
  </update>
  <update id="updateExpProRebateInfo">
  		UPDATE cy_rebate_notice_table SET is_exp=0,substract=#{substract} 
  		WHERE product_id=#{productId} and hospital_id=#{hospitalId}
  </update>
  <select id="queryForPromotionExpInfo" resultMap="PromotionExpResult">
  		SELECT *,(SELECT product_name FROM cy_product_table WHERE product_id=cnt.product_id) as product_name,
		(SELECT hospital_name FROM cy_hospital_table WHERE hospital_id=cnt.hospital_id) as hospital_name
		FROM cy_rebate_notice_table cnt WHERE is_exp=1 and is_notice=0
  </select>
  <update id="updatePromoteState">
  		<foreach collection="list" item="item" separator=";">
  		UPDATE cy_rebate_notice_table SET is_notice=1 
		WHERE product_id=#{item.productId} and hospital_id=#{item.hospitalId}
		</foreach>
  </update>
</mapper>