<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RebateProcessMapper">

	<resultMap id="BaseResultMap" type="com.blueair.bean.rebate.RebateProcess">
		<id column="flow_id" property="flowId" jdbcType="BIGINT" />
		<result column="sold_unit_id" property="soldUnitId" jdbcType="VARCHAR" />
		<result column="accept_unit_id" property="acceptUnitId"
			jdbcType="VARCHAR" />
		<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
		<result column="product_id" property="productId" jdbcType="VARCHAR" />
		<result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
		<result column="sold_date" property="soldDate" jdbcType="VARCHAR" />
		<result column="sold_goods_num" property="soldGoodsNum"
			jdbcType="INTEGER" />
		<result column="sold_price" property="soldPrice" jdbcType="DECIMAL" />
		<result column="sold_money" property="soldMoney" jdbcType="DECIMAL" />
		<result column="sec_expense" property="secExpense" jdbcType="DECIMAL"/>
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="QueryResultMap" type="com.blueair.bean.rebate.RebateMain">
		<id column="rebate_id" property="rebateId" jdbcType="BIGINT" />
		<id column="flow_id" property="flowId" jdbcType="BIGINT" />
		<result column="hospital_name" property="hospitalName"
			jdbcType="VARCHAR" />
		<result column="customer_name" property="customerName"
			jdbcType="VARCHAR" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="product_norms" property="productNorms"
			jdbcType="VARCHAR" />
		<result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
		<result column="sold_date" property="soldDate" jdbcType="VARCHAR" />
		<result column="sold_price" property="soldPrice" jdbcType="DECIMAL" />
		<result column="sold_money" property="soldMoney" jdbcType="DECIMAL" />
		<result column="is_switch" property="isSwitch" jdbcType="TINYINT" />
		<result column="rebate_expense" property="rebateExpense"
			jdbcType="DECIMAL" />
		<result  column="sec_expense"  property="secExpense" jdbcType="DECIMAL"/>
		<result column="amount" property="amount" jdbcType="INTEGER" />
		<result column="total_expense" property="totalExpense"
			jdbcType="DECIMAL" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="TINYINT" />
		<association property="merProtocol"
			column="{productId=product_id,hospitalId=hospital_id,soldDate=sold_date}"
			select="MerchanProtocolMapper.getMerchanProtocolForBanlance" />
	</resultMap>

	<sql id="Flow_Column_List">
		flow_id,sold_unit_id, accept_unit_id,customer_id,
		product_id,batch_no,sold_year,sold_month,
		sold_date,sold_goods_num,sold_price,sold_money,remark
	</sql>
	<select id="queryUnRebateList" resultMap="BaseResultMap">
		SELECT (select rebate FROM cy_customer_protocol_table WHERE customer_id=f.customer_id AND hospital_id=f.accept_unit_id
		AND product_id=f.product_id) as sec_expense,
		<include refid="Flow_Column_List" />
		FROM cy_business_flow_table f WHERE type=0 and is_terminal=1
	</select>
	<select id="getFlowCount" resultType="Integer">
		select count(0) as total FROM
		cy_business_flow_table WHERE customer_id=#{customerId} AND
		product_id=#{productId}
		AND accept_unit_id=#{acceptUnitId} AND (sold_date>#{soldDate} or (sold_date=#{soldDate} and flow_id>#{flowId}))
	</select>
	<select id="getFlowSum" resultType="Integer">
		select sum(sold_goods_num)
		FROM cy_business_flow_table WHERE customer_id=#{customerId} AND
		product_id=#{productId}
		AND accept_unit_id=#{acceptUnitId} AND sold_date>#{soldDate}
	</select>
	<select id="getForeFlowSum" resultType="Long">
		SELECT
		sum(sold_goods_num) FROM cy_business_flow_table
		WHERE product_id=#{productId} AND customer_id=#{customerId} AND accept_unit_id=#{acceptUnitId} AND
		sold_date&lt;#{soldDate} AND is_terminal=1
	</select>
	<insert id="insertRebateInfo">
		INSERT INTO
		cy_business_rebate_table(flow_id,is_switch,rebate_expense,amount,total_expense,sec_expense,create_time)
		values
		<foreach collection="processes" item="item" index="index"
			separator=",">
			(#{item.flowId},#{item.isSwitch},#{item.singleRebate},#{item.soldGoodsNum},#{item.totalRebate},#{item.secExpense},#{sysTime})
		</foreach>
	</insert>
	<select id="getRebateList" resultMap="QueryResultMap">
		select f.product_id,f.accept_unit_id as hospital_id,
		rebate_id,f.flow_id,CASE WHEN (SELECT type FROM cy_hospital_table WHERE	hospital_id=f.accept_unit_id)=1 
		THEN (SELECT hospital_name FROM cy_hospital_table WHERE	hospital_id=f.accept_unit_id) 
		ELSE (SELECT clinic_name FROM cy_clinic_table WHERE clinic_id=f.clinic_id) END as hospital_name,
		(select customer_name FROM cy_customer_table WHERE customer_id=f.customer_id)
		as customer_name,
		(select rebate FROM cy_customer_protocol_table WHERE customer_id=f.customer_id AND hospital_id=f.accept_unit_id
		AND product_id=f.product_id) as sec_expense,p.product_name,p.product_norms,f.batch_no,f.sold_date,
		f.sold_price,f.sold_money,r.is_switch,r.rebate_expense,r.amount,r.total_expense,f.remark,r.state
		FROM cy_business_rebate_table r LEFT JOIN cy_business_flow_table f ON
		r.flow_id=f.flow_id LEFT JOIN cy_product_table p ON
		f.product_id=p.product_id 
		where 1>0 
		<if test="productName!=null">
			AND	p.product_name LIKE CONCAT('%',#{productName},'%') 
		</if>
		<if test="customerName!=null">
			AND (select customer_name FROM cy_customer_table WHERE customer_id=f.customer_id) LIKE CONCAT('%',#{customerName},'%')
		</if>
		<if test="startDate!=null and startDate!=''">
		AND sold_date>#{startDate}
		</if>
		<if test="endDate!=null">
		AND sold_date&lt;#{endDate}
		</if>
		order by f.sold_date DESC,r.rebate_id ASC 
		 limit #{firstItem},#{pageSize}
	</select>
	<select id="getRebateListCount" resultType="Long">
		select count(0) from cy_business_rebate_table r LEFT JOIN cy_business_flow_table f ON
		r.flow_id=f.flow_id LEFT JOIN cy_product_table p ON
		f.product_id=p.product_id where 1>0 
		<if test="productName!=null">
			AND	p.product_name LIKE CONCAT('%',#{productName},'%') 
		</if>
		<if test="customerName!=null">
			AND (select customer_name FROM cy_customer_table WHERE customer_id=f.customer_id) LIKE CONCAT('%',#{customerName},'%')
		</if>
		<!-- <if test="startDate!=null">
		AND sold_date>#{startDate}
		</if> -->
		<if test="endDate!=null">
		AND sold_date&lt;#{endDate}
		</if>
		
	</select>
	<update id="payRebate">
		UPDATE cy_business_rebate_table SET 
		<choose>
		<when test="payment==1">
		state=1
		</when>
		<otherwise>
		state=0
		</otherwise>
		</choose>
		WHERE	rebate_id=#{id}
	</update>
	<select id="queryForFlowId" resultType="Long">
		select flow_id from cy_business_rebate_table WHERE rebate_id=#{id}
	</select>
	<update id="cancelFlowType">
		update cy_business_flow_table SET type=0 WHERE flow_id=#{flowId}
	</update>
	<select id="getLatestDataTime" resultType="java.util.Date">
		SELECT rebate_deal_time FROM cy_rebate_deal_time_table ORDER BY rebate_deal_time desc LIMIT 1
	</select>
	<select id="setDealTime">
		insert into cy_rebate_deal_time_table(rebate_deal_time,operator)
		values(#{sysDate},#{operator})
	</select>
</mapper>