<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ZoneMapper" >
  <resultMap id="BaseResultMap" type="com.blueair.bean.Zone" >
    <id column="area_id" property="zoneId" jdbcType="INTEGER" />
    <result column="area_name" property="zoneName" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="java.util.Map" id="AreaResultMap">
  	<id column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="java.util.Map" id="CityResultMap">
  	<id column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="BASIC_Column_List" >
  		area_id,area_name,desc
  </sql>
  <select id="queryForAllZones">
	  	select 
	  	<include refid="BASIC_Column_List"/>
	  	from cy_area_info_table	
  </select>
  <select id="queryForAreaInfoMap" resultMap="AreaResultMap">
  		select area_id,area_name from cy_area_info_table
  </select>
  <select id="queryForCityInfoMap" resultMap="CityResultMap">
  		select city_id,city_name from cy_city_info_table
  </select>
  <select id="queryAreaById" resultMap="AreaResultMap">
  		select area_id,area_name from cy_area_info_table where area_id=#{zoneId}
  </select>
  <select id="queryCityById" resultMap="CityResultMap">
  		select city_id,city_name from cy_city_info_table where city_id=#{cityId}
  </select>
</mapper>