
@charset "UTF-8";
body, ul, li, p, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  font-family: "微软雅黑" !important;
  color: #333; }

a {
  text-decoration: none;
  color: #337ab7; }

ul, li {
  list-style: none; }

.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  display: block; }

textarea {
  resize: none; }

table td {
  white-space: nowrap; }

@charset "UTF-8";
body, html {
  height: 100%; }

body {
  overflow-y: hidden;
  font-size: 14px; }
  body a {
    color: #337ab7; }

#main-view {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.main-content-wrap {
  display: flex; }
  .main-content-wrap .left-nav {
    width: 100px;
    height: 100%; }
    .main-content-wrap .left-nav a {
      color: #888; }
  .main-content-wrap .right-content {
    flex: 1;
    height: 100%;
    padding: 20px;
    overflow: auto; }

.clear-fix:after {
  content: '';
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.text_right {
  text-align: right; }

.text_left {
  text-align: left !important; }

/*分页器*/
.page-list .pagination {
  float: left; }

.page-list .pagination span {
  cursor: pointer; }

.page-list .pagination .separate span {
  cursor: default;
  border-top: none;
  border-bottom: none; }

.page-list .pagination .separate span:hover {
  background: none; }

.page-list .page-total {
  float: left;
  margin: 25px 20px; }

.page-list .page-total input, .page-list .page-total select {
  height: 26px;
  border: 1px solid #ddd; }

.page-list .page-total input {
  width: 40px;
  padding-left: 3px; }

.page-list .page-total select {
  width: 50px; }

/*分页器结束*/
/* 二级菜单 */
.nav {
  height: 100%;
  background: #a2e2a2;
  display: inline-block; }
  .nav ul {
    padding-top: 80px;
    height: 100%;
    box-sizing: border-box; }
    .nav ul li a {
      display: inline-block;
      height: 50px;
      width: 100px;
      line-height: 50px;
      text-align: center;
      background-color: #fff; }
    .nav ul li a:hover {
      background: #000;
      color: #fff; }

/* 一级标题（右侧按钮） */
h1.th1 {
  height: 50px;
  border-bottom: 1px solid #cccccc;
  font-size: 20px;
  padding: 0;
  margin: 0; }
  h1.th1 .thtext {
    display: inline-block;
    height: 100%;
    line-height: 50px;
    margin-left: 10px; }
  h1.th1 .thbtn {
    padding: 7px 10px 0 0;
    display: inline-block;
    float: right; }

/* 高级筛选 */
#gjsx {
  margin: -5px 10px 0; }

/* 转移工单 */
#zygd {
  float: right; }

/* 工单列表表格 */
#gd_table_list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word; }
  #gd_table_list th {
    border-bottom: 1px solid #cccccc;
    text-align: left;
    padding: 10px;
    cursor: pointer; }
    #gd_table_list th select {
      border: 0;
      background: #f9f9f9; }
    #gd_table_list th:nth-child(1) {
      width: 4%; }
    #gd_table_list th:nth-child(2) {
      width: 20%; }
    #gd_table_list th:nth-child(3) {
      width: 8%;
      background: url(../../img/arrow.png) no-repeat 44px 17px;
      background-size: 10px 10px; }
    #gd_table_list th:nth-child(4) {
      width: 8%;
      background: url(../../imglect_icon.png) no-repeat 44px center;
      background-size: 13px 7px; }
    #gd_table_list th:nth-child(5) {
      width: 8%;
      background: url(../../img/arrow.png) no-repeat 44px 17px;
      background-size: 10px 10px; }
    #gd_table_list th:nth-child(6) {
      width: 18%;
      background: url(../../img/arrow.png) no-repeat 72px 17px;
      background-size: 10px 10px; }
    #gd_table_list th:nth-child(7) {
      width: 12%;
      background: url(../../imglect_icon.png) no-repeat 82px center;
      background-size: 13px 7px; }
    #gd_table_list th:nth-child(8) {
      width: 12%;
      background: url(../../imglect_icon.png) no-repeat 72px center;
      background-size: 13px 7px; }
    #gd_table_list th:nth-child(9) {
      width: 10%; }
  #gd_table_list td {
    line-height: 22px;
    padding: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }
    #gd_table_list td .gd_list_th {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

/*提示框样式*/
.tip-alert {
  position: absolute;
  height: 80px;
  width: 200px;
  top: 10px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  transition: 0.5s;
  z-index: 9999; }
  .tip-alert .tip-cover {
    width: 100%;
    height: 100%;
    background: #666;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    border-radius: 8px; }
  .tip-alert span {
    color: #fff;
    line-height: 80px;
    font-size: 16px;
    font-family: '微软雅黑'; }

.table_content {
  width: 100%;
  overflow: auto; }

/*提示框样式*/
.tip-alert {
  position: fixed;
  height: auto;
  min-width: 400px;
  max-width: 800px;
  padding: 0 30px;
  top: 10px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  transition: 0.5s;
  z-index: 10002;
  border-radius: 3px;
  text-align: left; }
  .tip-alert span {
    color: #fff;
    line-height: 40px;
    font-size: 16px;
    font-family: '微软雅黑'; }
  .tip-alert i {
    line-height: 40px;
    color: #fff; }

.tip-alert-success {
  background-color: #47cea3; }
  .tip-alert-success i {
    background: url(../img/common/controls/toast_successful.png) no-repeat left top; }

.tip-alert-error {
  background-color: #ff624d; }
  .tip-alert-error i {
    background: url(../img/common/controls/toast_error.png) no-repeat left top; }

.kf {
  height: 100%; }
  .kf .list_main {
    width: 95%;
    margin: 0 auto; }
  .kf .search {
    padding: 20px; }

.home {
  height: 100%;
  width: 100%;
  display: flex; }
  .home .home-nav {
    height: 100%;
    width: 70px;
    background: linear-gradient(#5cb85c, #3e733e);
    float: left; }
    .home .home-nav ul {
      height: 100%; }
      .home .home-nav ul li {
        text-align: center;
        margin-top: 40px; }
        .home .home-nav ul li a {
          display: inline-block;
          line-height: 40px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #e4e4e4;
          text-align: center;
          color: #888; }
    .home .home-nav .logo {
      height: 80px;
      padding: 10px 0;
      color: #fff;
      font-size: 22px;
      text-align: center;
      background: #3c8a3c;
      line-height: 30px; }
  .home .home-r {
    flex: 1; }
    .home .home-r .home-view {
      width: 100%;
      height: 100%;
      display: inline-block;
      float: left;
      border-right: 1px solid #cccccc; }

.kf {
  height: 100%; }
  .kf .list_main {
    width: 95%;
    margin: 0 auto; }
  .kf .search {
    padding: 20px; }

.login {
  padding: 30px;
  margin: 150px auto;
  border: 1px solid #eee;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #333; }
  .login button {
    width: 100%; }

.addKf {
  height: 100%;
  width: 1050px; }
  .addKf h1 {
    width: 96%;
    margin: 0 auto; }

.bjkf {
  height: 100%;
  width: 1050px; }
  .bjkf h1 {
    width: 96%;
    margin: 0 auto; }
  .bjkf .bjkf_main {
    width: 80%;
    margin: 20px auto; }

.register {
  padding: 30px;
  margin: 150px auto;
  border: 1px solid #eee;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #333; }
  .register button {
    width: 100%; }
  .register img {
    height: 100%;
    width: 100%; }
  .register table {
    border-color: #ccc;
    height: 15px; }
  .register .password_strong {
    font-size: 12px;
    color: #ccc; }
  .register .password_bg {
    background: #eee; }

.addKf {
  height: 100%;
  width: 1050px; }
  .addKf h1 {
    width: 96%;
    margin: 0 auto; }

.bjkf {
  height: 100%;
  width: 1050px; }
  .bjkf h1 {
    width: 96%;
    margin: 0 auto; }
  .bjkf .bjkf_main {
    width: 80%;
    margin: 20px auto; }

.kfgl {
  height: 100%;
  width: 1050px; }
  .kfgl h1 {
    width: 96%;
    margin: 0 auto; }
  .kfgl select {
    border: none;
    outline: none; }
  .kfgl .search_btn_content {
    text-align: center; }

.groups {
  position: relative; }
  .groups .cover_groups {
    position: absolute;
    height: 100%;
    width: 80%;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
    margin-left: 2px; }


.addkfz {
  height: 100%;
  width: 1050px; }
  .addkfz h1 {
    width: 96%;
    margin: 0 auto; }

.bjkfz {
  height: 100%;
  width: 1050px; }
  .bjkfz h1 {
    width: 96%;
    margin: 0 auto; }

.kfzgl {
  height: 100%;
  width: 1050px; }
  .kfzgl h1 {
    width: 96%;
    margin: 0 auto; }
  .kfzgl .kfzglmain {
    width: 96%;
    margin: 0 auto; }
    .kfzgl .kfzglmain ol.jsglth, .kfzgl .kfzglmain .jsglist ul {
      width: 100%;
      padding: 0 20px;
      margin: 0; }
      .kfzgl .kfzglmain ol.jsglth li, .kfzgl .kfzglmain .jsglist ul li {
        float: left;
        height: 40px;
        line-height: 40px;
        padding: 0 2%; }
        .kfzgl .kfzglmain ol.jsglth li:nth-child(1), .kfzgl .kfzglmain .jsglist ul li:nth-child(1) {
          width: 25%; }
        .kfzgl .kfzglmain ol.jsglth li:nth-child(2), .kfzgl .kfzglmain .jsglist ul li:nth-child(2) {
          width: 25%; }
        .kfzgl .kfzglmain ol.jsglth li:nth-child(3), .kfzgl .kfzglmain .jsglist ul li:nth-child(3) {
          width: 35%; }
        .kfzgl .kfzglmain ol.jsglth li:nth-child(4), .kfzgl .kfzglmain .jsglist ul li:nth-child(4) {
          width: 15%; }
    .kfzgl .kfzglmain .jsglist {
      margin: 0 0 5px; }
      .kfzgl .kfzglmain .jsglist ul {
        background: #eaeaea;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc; }
        .kfzgl .kfzglmain .jsglist ul li {
          height: 50px;
          line-height: 50px; }
          .kfzgl .kfzglmain .jsglist ul li .jsmslist {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
      .kfzgl .kfzglmain .jsglist .jsgldetails {
        background: #eaeaea; }
      .kfzgl .kfzglmain .jsglist .jsglD {
        background: #f5f5f5;
        padding: 0 50px; }
      .kfzgl .kfzglmain .jsglist table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        word-break: break-all;
        word-wrap: break-word; }
        .kfzgl .kfzglmain .jsglist table tr {
          border-top: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc; }
          .kfzgl .kfzglmain .jsglist table tr:first-child {
            border-top: none; }
          .kfzgl .kfzglmain .jsglist table tr:last-child {
            border-bottom: none; }
          .kfzgl .kfzglmain .jsglist table tr td {
            line-height: 22px;
            padding: 10px; }

.addkfz .row {
  margin-top: 10px; }

.addkfz .addList .msg_list {
  cursor: pointer; }

.addkfz .addList .msg_list:hover {
  background: #eee; }

.addKf {
  height: 100%;
  width: 1050px; }
  .addKf h1 {
    width: 96%;
    margin: 0 auto; }

.bjkf {
  height: 100%;
  width: 1050px; }
  .bjkf h1 {
    width: 96%;
    margin: 0 auto; }
  .bjkf .bjkf_main {
    width: 80%;
    margin: 20px auto; }

.kfgl {
  height: 100%;
  width: 1050px; }
  .kfgl h1 {
    width: 96%;
    margin: 0 auto; }
  .kfgl select {
    border: none;
    outline: none; }

.groups {
  position: relative; }
  .groups .cover_groups {
    position: absolute;
    height: 100%;
    width: 80%;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
    margin-left: 2px; }

.addKf {
  height: 100%;
  width: 1050px; }
  .addKf h1 {
    width: 96%;
    margin: 0 auto; }

.bjkf {
  height: 100%;
  width: 1050px; }
  .bjkf h1 {
    width: 96%;
    margin: 0 auto; }
  .bjkf .bjkf_main {
    width: 80%;
    margin: 20px auto; }

.addKf {
  height: 100%;
  width: 1050px; }
  .addKf h1 {
    width: 96%;
    margin: 0 auto; }

.bjkf {
  height: 100%;
  width: 1050px; }
  .bjkf h1 {
    width: 96%;
    margin: 0 auto; }
  .bjkf .bjkf_main {
    width: 80%;
    margin: 20px auto; }
