<div class="jsgl">
    <h1 class="th1">
        <span class='thtext'>角色列表</span>
        <div class="thbtn">
            <button type="button" class="btn btn-default" ng-click='jsnewadd(newaddId)'>新增角色</button>
        </div>
    </h1>
    <div class="jsglmain">
        <table class="table table-striped">
            <tr>
                <th>角色名称</th>
                <th>描述</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat='x in jslist'>
                <td>{{x.name}}</td>
                <td><div class="jsms">{{x.remark}}</div></td>
                <td>
                    <a href='javascript:;' ng-click='jschange(x)'>编辑</a>
                    <a href='javascript:;' ng-click='jsDelete(x.roleId)'>删除</a>
                </td>
            </tr>
        </table>
        <tm-pagination conf="paginationConf" ng-show='pagShow'></tm-pagination>
    </div>
    
</div>