$navBackground:#666;//一级导航背景
$iconBackground:#e4e4e4;//图标背景
$logoBackground:#e4e4e4;//logo背景
@import '../common/config';
.home{
	height:100%;
	width:100%;
	display:flex;
	.home-nav{
		height:100%;
		width:70px;
		background:$navBackground;
		float:left;
		ul{
			height:100%;
			li{
				text-align: center;
				margin-top:40px;
				a{
					display: inline-block;
					line-height: 40px;
					width:40px;
					height:40px;
					border-radius: 50%;
					background:$iconBackground;
					text-align: center;
					color:#888;
				}
			}
		}
		.logo{
			height:70px;
			text-align: center;
			background:$logoBackground;
			line-height:70px;
		}
	}
	.home-r{
		flex:1;
		// .home-head{
		// 	width:100%;
		// 	float:left;
		// 	height:50px;
		// 	border-right:$homeBorder;
		// 	border-bottom:$homeBorder;
		// }
		.home-view{
			width:100%;
			height:100%;
			display: inline-block;
			float:left;
			border-right:$homeBorder;
		}
	}
		
}
