<div class="wechat">
	<tipalert></tipalert>
    <h1 class="th1">
        <span class='thtext'>微信接入</span>
        <span class='s_tip'>绑定后你可以使用 云客服 统一接收与回复顾客咨询，你的公众号必须是认证过的微信订阅号或服务号</span>
        <div class="thbtn">
            <button type="button" class="btn btn-default" ng-click='selecBang()'>+绑定微信公众号</button>
        </div>
    </h1>
    <table class="table table-striped">
		<tr>
			<td>名称</td>
			<td>绑定时间</td>
			<td>操作</td>
		</tr>
		<tr ng-repeat='x in dataList'>
			<td>{{x.openID}}</td>
			<td>{{x.createDate}}</td>
			<td>
				<a href='javascript:;' ng-click='updateThis(x)'>管理</a>
				<a href='javascript:;' ng-click='deleData(x)'>解绑</a>
			</td>
		</tr>
	</table>
	<tm-pagination conf="paginationConf" ng-show='pagShow'></tm-pagination>
</div>
<div class="modal fade" id="wechatDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dialogTitle">绑定微信公众号</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
			<div class="form-group" ng-class="test_style1">
			    <label class="col-sm-2 control-label">微信名称</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" ng-model="wechatName" required />
			    </div>
		  	</div>
		  	<div class="form-group" ng-class="test_style1">
			    <label  class="col-sm-2 control-label">微信应用ID</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" ng-model="wechatId" required />
			    </div>
		  	</div>
		  	<div class="form-group" ng-class="test_style1">
			    <label  class="col-sm-2 control-label">微信应用密匙</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" ng-model="wechatKey" required />
			    </div>
		  	</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click='submitWechatMsg()'>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->