<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.min.css" />
<!-- 		<link rel="stylesheet" type="text/css" href="css/ngDialog.css" />
		<link rel="stylesheet" type="text/css" href="css/ngDialog-theme-default.css" /> -->
	</head>
	<body>
		<tip-log></tip-log>
		<div dialog></div>
		<tipalert></tipalert>
			<!-- view视图 -->
		<!-- <div class="main-head-title"></div> -->
		<div ui-view id="main-view"></div>
	</body>
	<script src="js/jquery.js"></script>
	<script src='js/bootstrap.js'></script>
	<script src="js/angular.js" ></script>
	<script type="text/javascript" src="js/angular-ui-router.js" ></script>
	<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
	<script src="js/index.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/ngDialog.min.js"> </script>
    <script type="text/javascript">
    	window.onhashchange=function(){
    		
    	}
    </script>
    <script type="text/ng-template" id="selects" >
    	<div class="selects-box">
			<div class="selects-view">
				<div ng-repeat="x in viewMsg">
					<div ng-bind="x.firstName" ng-init="indexP = $index"></div>
					<ul>
						<li ng-repeat="y in x.list">
							<input type="text" ng-model="y.name" ng-show="y.inputShow"/>
							<span ng-bind="y.name" ng-click="y.check(y.name,indexP)"></span>
							<span ng-click="y.edit()">编辑</span>
							<span ng-click="y.delete($index)"></span>
						</li>
						<li>
							<a href="javascript:;" ng-click="x.add()">添加</a>
						</li>
					</ul>
				</div>
			</div>
			<div>
				<a href="javascript:;" ng-click="addMenu()">添加</a>
			</div>
    	</div>
    </script>
    <script type="text/ng-template" id="citys" >
    	<div>
			<div class="form-group" >
			    <label class="col-sm-2 control-label text_left" >所属大区</label>
			    <div class="col-sm-4">
			    	<select class="form-control" ng-change = "areaChange()" ng-model = "area" ng-options = "x.area_id as x.area_name for x in areasList" >
			    		<option value="" ng-show = "false" >--请选择--</option>
			    	</select>
			    </div>
			    <label class="col-sm-2 control-label text_left" >所属城市</label>
			    <div class="col-sm-4">
                    <select class="form-control" ng-model = "city" ng-options = "x.cityId as x.cityName for x in cityList" >
			    		<option value="" ng-show = "false" >--请选择--</option>
			    	</select>
                </div>
			</div>
    	</div>
    </script>
</html>
