<tipalert></tipalert>
<form class="form-horizontal" role="form">
  <div class="form-group" ng-class="test_style1">
    <label for="username" class="col-sm-3 control-label">手机号</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="请输入账号" ng-model="phonenum" required pattern='^1[0-9]{10}' id='register_phonenumber'>
      <span class="help-block error" ng-bind="error_username" style="color:red;"></span>
    </div>
  </div>
  <div class="form-group" ng-class="test_style2">
    <label for="img_yzm" class="col-sm-3 control-label" >图形验证码</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="img_yzm" ng-model="img_yzm" />
      <span class="help-block error" ng-bind="error_yzm1" style="color:red;"></span>
    </div>
    <div class="col-sm-3">
		<img src='' alt='验证图片' />
    </div>
  </div>
  <div class="form-group" ng-class="test_style2">
    <label for="msg_yzm" class="col-sm-3 control-label" >短信验证码</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="msg_yzm" ng-model="msg_yzm" />
      <span class="help-block error" ng-bind="error_yzm2" style="color:red;"></span>
    </div>
    <div class="col-sm-3">
		<button class="btn btn-default" ng-click='submit_msg()' ng-bind='yzm_submit'></button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button  class="btn btn-primary col-sm-10" ng-click="nextStep()">下一步</button>
    </div>
  </div>
  <div class="form-group" >
    <div class="col-sm-12" style="text-align:right;">
       <a href="javascript:;" ui-sref="login">已有账号，直接登录</a>
      </div>
    </div>
  </div>
</form>