<form class="form-horizontal" role="form">
  <div class="form-group" ng-class="test_style1">
    <label for="email" class="col-sm-3 control-label">邮箱</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" placeholder="邮箱" ng-model="email" required pattern='^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$'>
      <span class="help-block error" ng-bind="error_email" style="color:red;"></span>
    </div>
  </div>
  <div class="form-group" ng-class="test_style1">
    <label for="email" class="col-sm-3 control-label">密码</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" placeholder="密码" ng-model="passWord" required  id="password">
      <span class="help-block error" ng-bind="error_email" style="color:red;"></span>
    </div>
    <table class="col-sm-offset-2 col-sm-6" cellspacing="0" border="1">
         <colgroup>
          <col width="33%">
          <col width="33%">
          <col width="33%">
        </colgroup>
          <tr>
            <td ng-class="ruo">&nbsp;</td>
            <td ng-class="zhong"></td>
            <td ng-class="qiang"></td>
          </tr>
    </table>
    <span class="col-sm-3 password_strong" >密码强度:{{password_strong}}</span>
  </div>
  <div class="form-group" ng-class="test_style1">
    <label for="email" class="col-sm-3 control-label">确认密码</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" placeholder="确认密码" ng-model="password_again" required />
      <span class="help-block error" ng-bind="error_email" style="color:red;"></span>
    </div>
  </div>
   <div class="form-group" ng-class="test_style1">
    <div class="col-sm-offset-3 col-sm-8">
      <button class='btn btn-default' ng-click='submitRegister()'>确认并验证邮箱</button>
    </div>
  </div>
</form>