@import '../../common/config';
$kf-view-width:$view-width - 150px;
.kfzgl{
    height:100%;
    width:$kf-view-width;
    h1{     
        width:96%;
        margin:0 auto;
    }
     .kfzglmain{
        width:96%;
        margin:0 auto;
        ol.jsglth,.jsglist ul{
            width:100%;
            padding:0 20px;
            margin:0;
            li{
                float:left;
                height:40px;
                line-height:40px;
                padding:0 2%;
                
                &:nth-child(1){
                    width:25%;
                }
                &:nth-child(2){
                    width:25%;
                }
                &:nth-child(3){
                    width:35%;
                }
                &:nth-child(4){
                    width:15%;
                }
            }
        }
        .jsglist{
            margin:0 0 5px;
            ul{
                background:#eaeaea;
                border-top:$homeBorder;
                border-bottom:$homeBorder;
                li{
                    height:50px;
                    line-height:50px;
                    .jsmslist{
                        display:block;
                        white-space:nowrap; 
                        overflow:hidden; 
                        text-overflow:ellipsis;
                    }
                }
            }
            .jsgldetails{
                background:#eaeaea;
            }
            .jsglD{
                
                background:#f5f5f5;
                padding:0 50px
            }
            table{
                width:100%;
                border-collapse:collapse;
                border-spacing:0;
                table-layout:fixed;
                word-break: break-all; 
                word-wrap: break-word;
                tr{
                    border-top:$homeBorder;
                    border-bottom:$homeBorder;
                    &:first-child{
                        border-top:none;
                    }  
                    &:last-child{
                        border-bottom:none;
                    }  
                    td{
                        line-height:22px;
                        padding:10px;
                    }
                }
            }
        }
    }
}
.addkfz{
	.row{
		margin-top:10px;
	}
	.addList{
		.msg_list{
			cursor: pointer;
		}
		.msg_list:hover{
			background:#eee;
		}
	}
}
